<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
 <div th:replace="layout/header::header"></div>
  <div class="container">
        <div class="page-header">
            <h1>게시글 목록</h1>
        </div>
        
        <th:block sec:authorize="isAuthenticated()">
        	<div align="right">
        		<h4><span sec:authentication="Principal.username"></span>님 환영합니다!</h4>
        		<!-- <button onclick="location.href='/logout'">로그아웃</button> -->
        	</div>
        </th:block>	
        
        <br/>
        
   		<th:block sec:authorize="isAuthenticated()">
   		 <div class="pull-right" style="width:100px;margin:10px 0;">
        	<a href="/form" class="btn btn-primary btn-block">등록</a>
        </div>
        </th:block>
        
        
        <br/>
        <br/>
        <br/>
        <div id="mainHide">
        		<!-- 테이블에 마우스를 올렸을 때 마우스 커서가 있는 행이 다른 색으로 변한다 -->
        		<table class="table table-hover">
        			<thead>
        				<tr>
        				<!-- scope="col" 해당 th가 열(column)을 위한 헤더 셀이다. -->
        					<th scope="col">글번호</th>
        					<th scope="col">게시글타입</th>
        					<th scope="col">제목</th>
        					<th scope="col">부제목</th>
        					<th scope="col">아이디</th>
        					<th scope="col">작성일</th>
        					<th scope="col">조회수</th>
        				</tr>
        			</thead>
        			<tbody>
        			<!-- http://localhost:9090/board?id=2 -->
        				<tr th:each="board:${boardList}">
        					<td><a th:href="'/board?id='+${board.id}" th:text="${board.id}"></a></td>
        					<td th:text="${board?.boardType?.value}"></td>
        					<td><a th:href="'/board?id='+${board.id}" th:text="${board.title}"></a></td>
        					<td th:text="${board?.subTitle}"></td>
        					<td th:text="${board?.user?.username}"></td>
        					<td th:text="${board?.wdate}"></td>
        					<td th:text="${board?.pageView}"></td>
        				</tr>
        			</tbody>
        		</table>
        </div>
 		<div align="right"><a href="/first">&nbsp;&nbsp;메인으로</a></div>       
        <br/>
        <!-- 페이지 네비게이션    
        ===><span th:text="${T(java.lang.Math).floor(7/2)}">123</span>
             -->
        
        <nav aria-label="Page navigation" style="text-align:center;">
			<ul class="pagination" th:with="startNumber=${T(java.lang.Math).floor(boardList.number/5)}*5+1, 
			endNumber=(${boardList.totalPages} > ${startNumber}+4) ? ${startNumber}+4 : ${boardList.totalPages}">
				<li><a aria-label="Previous" href="/list?page=1">«</a></li>
				<li th:style="${boardList.first} ? 'display:none'">
					<a th:href="@{/list(page=${boardList.number})}">‹</a>
				</li>
				<li th:each="page :${#numbers.sequence(startNumber, endNumber)}" th:class="(${page} == ${boardList.number}+1) ? 'active'">
					<a th:href="@{/list(page=${page})}" th:text="${page}"><span class="sr-only"></span></a>
				</li>
				​<li th:style="${boardList.last} ? 'display:none'">
					<a th:href="@{/list(page=${boardList.number}+2)}">›</a>
				</li> 
				<li><a aria-label="Next" th:href="@{/list(page=${boardList.totalPages})}">»</a></li>
			</ul>
		</nav>
		<!-- /Pagination -->
</div>
 

<div th:replace="layout/footer::footer"></div>
<br>

</body>
</html>